# Python environments and packaging
.Python
.env
env/
*.egg-info/
.installed.cfg
*.egg
build/
dist/
sdist/
downloads/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
var/

# Python cache
**/__pycache__/**

# IDE / Editor configurations
.idea

# Serverless directories
.serverless

# Node.js dependencies
node_modules/

# Miscellaneous
.requirements.zip
event.json

.env.*
